.vs/
obj/
bin/
*.user
RemotePartyNotifier/.idea/.idea.SamplePlugin.dir/.idea/projectSettingsUpdater.xml
.idea/.idea.SamplePlugin/.idea/projectSettingsUpdater.xml
.idea/.idea.SamplePlugin/.idea/workspace.xml
RemotePartyNotifier/.idea/.idea.RemotePartyNotifier.dir/.idea/indexLayout.xml
RemotePartyNotifier/.idea/.idea.RemotePartyNotifier.dir/.idea/projectSettingsUpdater.xml
RemotePartyNotifier/.idea/.idea.RemotePartyNotifier.dir/.idea/workspace.xml
